*,*::before, *::after {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

table td {
  border: none;
  text-align: left;
  padding: 8px;
  bottom: 1px solid #ddd;
}

#app > header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  color: #ffffff;
  z-index: 10;
}
#app > main {
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
