.card {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.44);
  width: 30%;
  margin: 1.5%;
  padding: 10px 0px 20px 0px;
  height: auto;

}

.card header {
  position: relative;
  min-height: 30vh;
  padding: 0;
  background-color: rgba(38, 38, 38, 0.64);
}

.card img {
  display: block;
  object-fit: contain;
  background-color: white;
  width: 100%;
  height: auto;
  max-height: 30vh;
  margin-bottom: 10px;
}

.card header .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card main {
  padding: 0.25rem 0.5rem;
}
.card main h1 {
  font-weight: 500;
  font-size: 1.2rem;
  text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}
.card main p {
  padding-top: 0.25rem;
  font-size: 0.75rem;
  height: 40px;
  color: #6D6D6D;
  text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}

/**
  * Persist animation using : animation-fill-mode set to forward 
  * @see https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode
  */
.fade {
  -webkit-animation: fadeout 2s forwards; /* Safari and Chrome */
  -moz-animation: fadeout 2s forwards; /* Firefox */
  -ms-animation: fadeout 2s forwards; /* Internet Explorer */
  -o-animation: fadeout 2s forwards; /* Opera */
  animation: fadeout 2s forwards;
}

/* Key frame animation */
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.add-to-cart {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-top: 20px;
  background-color: royalblue;
  color: white;
  border: none;
}


#quantity {
  padding: 10px 20px 10px 10px;
  text-align: center;
  margin-right: 10px;
}


/*
.cart-table, .cart-title {
  padding-left: 5%;
}
.cart-table th, td{
  width: 25%;
  padding: 20px;
  text-align: left;
}

.cart-table {
  margin-top: 40px;
}

.product-tr{ 
  box-shadow: 0px 1px 1px 0px hsla(0, 0%, 0%, 0.44);
}

.cart-table .img-cart {
  width: 1%;
}


.table-cart-th-img{
  border: 1px solid black;
  width:100px;
  margin-top: 20px;
}

.table-cart-th-product{
  border: 1px solid black;
  width:900px;
  margin-top: 20px;
}*/



.title-th, .total-th{
  width: 20%;
}

.product-th {
  width: 60%;
}

.cart-table td{
  padding: 20px;
  vertical-align:top;
}

.title-th, .product-th, .price-th{
  padding: 20px;
  vertical-align:top;
}

.cart-table {
  width: 100%;
}

.img-td {
  text-align: center;
}

.delete-product {
  text-decoration: none;
  color: red;
}

.delete-product:hover {
  border-bottom: 2px solid red;
  color: red;
}

.price-td, .price-th{
  text-align: right;
}

.cart-table tr{
  border: 1px solid black;
}

.cart-title {
  padding-left:100px;
  padding-top: 60px;
}

.total-cart {
  width: 100%;
  /*border : 1px solid black;*/
  text-align: right;
  padding: 20px;
}

.total-cart-amout-td {
  padding-top: 20px;
  font-size: 23px;
}